@model Item

<h2>Update Item</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location"></label><span class="text-danger">*</span>
        <select asp-for="Location" class="form-select">
            <option value="" selected disabled hidden>Choose a county</option>
            <option value="Agder">Agder</option>
            <option value="Innlandet">Innlandet</option>
            <option value="Møre og Romsdal">Møre og Romsdal</option>
            <option value="Nordland">Nordland</option>
            <option value="Oslo">Oslo</option>
            <option value="Rogaland">Rogaland</option>
            <option value="Troms og Finnmark">Troms og Finnmark</option>
            <option value="Trøndelag">Trøndelag</option>
            <option value="Vestfold og Telemark">Vestfold og Telemark</option>
            <option value="Vestland">Vestland</option>
            <option value="Viken">Viken</option>
        </select>
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PricePerNight"></label>
        <input asp-for="PricePerNight" class="form-control" />
        <span asp-validation-for="PricePerNight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="20"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Table" class="btn btn-secondary">Cancel</a>
</form>
