html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    <<<<<<< HEAD margin-bottom: 60px;
    overflow-x: hidden;
    background-color: #eeeeee;
    font-family: 'Cabin', sans-serif;
    ======= overflow-x: hidden;
    >>>>>>> 114c8b77f60491b97848315717eff91908e48743
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
    color: #007A6E;
}

.banner {
    width: 100vw;
    height: 700px;
    overflow: hidden;
    position: relative;
    left: calc(-50vw + 50%);
    top: -16px;
}

.banner .container h1, .banner .container h3 {
    text-shadow: 0px 0px 6px black;
}

#background-video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(75%)
}

.banner-link {
    margin: 50px auto auto auto;
}

.banner-link a{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #1d2420;
    transition: 0.5s;
    border: 1px solid white;
}

.banner-link a:hover {
    background-color: white;
    color: black;
}

.welcome-container {
    padding: 50px;
    margin: auto;
    width: 75%;
}

.divider {
    display: flex;
    align-items: center;
}

.line {
    flex-grow: 1;
    height: 0.75px;
    background-color: black; /* Color of the lines */
}

.symbol {
    padding: 0 10px; /* Adjust the spacing around the symbol */
    font-size: 20px; /* Adjust the symbol's font size */
    color: black; /* Color of the symbol */
    user-select: none;
}

.carousel-text-container {
    background-color: white;
    position: relative;
    top: -20px;
    padding: 20px 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.title {
    margin-top: 60px;
}

.text-start a {
    color: #007A6E;
}

.btn-primary {
    background-color: #007A6E;
    border-color: #007A6E;
}