@{
    ViewData["Title"] = "About";
}
<div class="banner-secondary">
    <div class="banner-secondary-container">
        <!-- Midlertidig -->
        <img src="https://images.pexels.com/photos/5365875/pexels-photo-5365875.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" id="banner-image" />
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle">
            <div class="text-center">
                <!-- The text -->
                <h1 class="text-white">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
        et dolore magna aliqua. Ut etiam sit amet nisl purus. Tristique sollicitudin nibh sit amet commodo 
        nulla facilisi. Tristique magna sit amet purus gravida. Aliquam id diam maecenas ultricies mi. Odio ut 
        enim blandit volutpat maecenas volutpat blandit aliquam. Auctor elit sed vulputate mi. Mauris cursus 
        mattis molestie a iaculis at erat. Varius sit amet mattis vulputate. Varius sit amet mattis vulputate. 
        At imperdiet dui accumsan sit amet nulla facilisi morbi. Urna cursus eget nunc scelerisque viverra 
        mauris in aliquam sem. Mi proin sed libero enim sed faucibus turpis in. Tristique senectus et netus et. 
        Id velit ut tortor pretium viverra suspendisse potenti nullam. Vitae et leo duis ut diam quam. Facilisi 
        cras fermentum odio eu feugiat pretium nibh ipsum consequat. Eget felis eget nunc lobortis.
    </p>

    <p>Tincidunt augue interdum velit euismod in. Malesuada fames ac turpis egestas integer. Lorem ipsum 
        dolor sit amet consectetur. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. 
        Quis varius quam quisque id diam vel quam elementum. Risus nec feugiat in fermentum. Laoreet non 
        curabitur gravida arcu ac tortor dignissim. At tempor commodo ullamcorper a lacus vestibulum. Pulvinar 
        proin gravida hendrerit lectus. Sed libero enim sed faucibus turpis in. Metus dictum at tempor commodo 
        ullamcorper a lacus vestibulum. Faucibus et molestie ac feugiat sed lectus. Massa enim nec dui nunc 
        mattis enim ut. Nibh praesent tristique magna sit amet purus gravida. Pellentesque eu tincidunt tortor 
        aliquam nulla facilisi cras.
    </p>

    <p>Etiam non quam lacus suspendisse. Nibh tortor id aliquet lectus proin nibh nisl condimentum. Arcu 
        dictum varius duis at consectetur lorem donec. Diam donec adipiscing tristique risus nec feugiat 
        in fermentum. Aliquam purus sit amet luctus venenatis lectus magna fringilla. Volutpat maecenas 
        volutpat blandit aliquam etiam erat velit scelerisque. Tempor nec feugiat nisl pretium fusce id. 
        Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Eget nunc lobortis 
        mattis aliquam faucibus purus in. Pellentesque eu tincidunt tortor aliquam. Sit amet nisl purus in. 
        Non diam phasellus vestibulum lorem sed risus. Ullamcorper sit amet risus nullam eget felis eget nunc. 
        Sagittis aliquam malesuada bibendum arcu vitae. Ut enim blandit volutpat maecenas volutpat blandit. 
        Nunc faucibus a pellentesque sit amet porttitor eget dolor. Velit dignissim sodales ut eu sem integer 
        vitae. Adipiscing elit ut aliquam purus sit amet. Ut tellus elementum sagittis vitae et.
    </p>

    <p>A condimentum vitae sapien pellentesque habitant. Aliquet eget sit amet tellus cras adipiscing. Enim 
        neque volutpat ac tincidunt. Urna nunc id cursus metus aliquam eleifend. Volutpat consequat mauris 
        nunc congue nisi vitae suscipit tellus. Sit amet nisl suscipit adipiscing bibendum est ultricies 
        integer. Eu ultrices vitae auctor eu augue ut lectus. Enim facilisis gravida neque convallis a. 
        Ullamcorper eget nulla facilisi etiam. Amet venenatis urna cursus eget nunc scelerisque viverra 
        mauris in.
    </p>

    <p>Semper eget duis at tellus at urna condimentum. Ullamcorper sit amet risus nullam eget felis eget 
        nunc lobortis. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Ante in nibh mauris 
        cursus mattis. Eu volutpat odio facilisis mauris sit amet massa. Id cursus metus aliquam eleifend mi. 
        Vel fringilla est ullamcorper eget nulla facilisi etiam. Habitasse platea dictumst quisque sagittis 
        purus sit amet volutpat. Cursus risus at ultrices mi tempus imperdiet. Est ullamcorper eget nulla 
        facilisi etiam dignissim diam quis. Lobortis elementum nibh tellus molestie nunc non blandit. At 
        lectus urna duis convallis convallis tellus id. Sit amet volutpat consequat mauris nunc. Dictum non 
        consectetur a erat. Adipiscing vitae proin sagittis nisl rhoncus mattis. Eu ultrices vitae auctor 
        eu augue. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Lacus viverra vitae congue eu 
        consequat ac felis donec et. Ac feugiat sed lectus vestibulum mattis ullamcorper velit. Suspendisse 
        ultrices gravida dictum fusce.
    </p>
</div>
