@model Item
@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner video with text -->
<div class ="banner">
    <!-- The container of the video -->
    <div class="banner-container">
        <!-- The video -->
        <video autoplay muted loop id="background-video">
            <source src="~/videos/winter_-_15650 (540p).mp4" type="video/mp4"> @* https://pixabay.com/videos/winter-cottage-house-snow-nature-15650/ *@
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- The container of the text -->
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center" style="min-height: 700px;">
                <div class="text-center" style="text-shadow: 3px 3px 15px black, -3px -3px 15px black;">   <!--Hardkodet style, må inn i css-fil->
                    <!-- The text -->
                    <h1 class="text-white">CabinFever</h1>
                    <h3 class="text-white">Escape to the Wild: Your Cabin Getaway Awaits with CabinFever!</h3>
                    <div class="banner-link">
                        <a href="Item/Grid">Book here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Welcome -->
<div class="welcome-container">
    <div class="text-center">
        <h1 class="text-darkgreen">Welcome</h1>
        <div class="divider">
            <div class="line"></div>
            <div class="symbol">✻</div> <!-- You can replace this with any symbol or icon you prefer -->
            <div class="line"></div>
        </div>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Velit egestas dui id ornare arcu. Id diam maecenas 
            ultricies mi eget mauris pharetra et.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>


<div id="carouselIndex" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/hytte_stock_1.jpg" class="d-block w-100" alt="Hytte 1">
                </div>
                <div class="col-6">
                    <img src="~/images/hytte_stock_2.jpg" class="d-block w-100" alt="Hytte 2">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="carousel-text-container">
                        <h4>Image 1</h4>
                        <p>Description</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="carousel-text-container">
                        <h4>Image 2</h4>
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-6">
                    <img src="~/images/hytte_stock_3.jpg" class="d-block w-100" alt="Hytte 3">
                </div>
                <div class="col-6">
                    <img src="~/images/hytte_stock_4.jpg" class="d-block w-100" alt="Hytte 4">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="carousel-text-container">
                        <h4>Image 3</h4>
                        <p>Description</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="carousel-text-container">
                        <h4>Image 4</h4>
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add more carousel items as needed -->
    </div>


    <a class="carousel-control-prev" href="#carouselIndex" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndex" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
