@model ItemListViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Banner video with text -->
<div class ="banner">
    <!-- The container of the video -->
    <div class="banner-container">
        <!-- The video -->
        <video autoplay muted loop id="background-video">
            <source src="~/videos/winter_-_15650 (540p).mp4" type="video/mp4"> @* https://pixabay.com/videos/winter-cottage-house-snow-nature-15650/ *@
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- The container of the text -->
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle">
                <div class="text-center">   
                    <!-- The text -->
                    <h1 class="text-white">CabinFever</h1>
                    <h3 class="text-white">Escape to the Wild: Your Cabin Getaway Awaits with CabinFever!</h3>
                    <div class="banner-link">
                        <a href="Home/Rentals">Reserve here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Welcome -->
<div class="welcome-container">
    <div class="text-center">
        <h1>Welcome</h1>
        <div class="divider">
            <div class="line"></div>
            <div class="symbol">✻</div> <!-- You can replace this with any symbol or icon you prefer -->
            <div class="line"></div>
        </div>  
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Velit egestas dui id ornare arcu. Id diam maecenas 
            ultricies mi eget mauris pharetra et.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>


<!-- Carousel -->
@{
    // Converting the IEnumerable to a List for indexing the carousel
    var itemsList = Model.Items.ToList(); 
}

<div class="row mb-5">
    <div id="carouselIndex" class="carousel slide px-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row justify-content-center">
                    @for (int i = 0; i < 2; i++)
                    {
                        var counter = i;
                        var item = itemsList[counter];

                        <div class="@(i % 2 == 0 ? "col-md-5 col-12" : "col-md-5 col-12 d-none d-md-block")">
                            <partial name="_ItemCard" model="item" />
                        </div>
                    }
                </div>
            </div>

            @for (int i = 0; i < 2; i++)
            {
                <div class="carousel-item">
                    <div class="row justify-content-center">
                    @for (int j = 0; j < 2; j++)
                    {
                        var counter = 2 + i * 2 + j;
                        var item = itemsList[counter];

                        <div class="@(j % 2 == 0 ? "col-md-5 col-12" : "col-md-5 col-12 d-none d-md-block")">
                            <partial name="_ItemCard" model="item" />
                        </div>
                    }
                    </div>
                </div>    
            }
        </div>

        <!-- Previous button of the carousel -->
        <a class="carousel-control-prev" href="#carouselIndex" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>

        <!-- Next button of the carousel -->
        <a class="carousel-control-next" href="#carouselIndex" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
</div>
