@model ItemListViewModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Min side";
    var userId = UserManager.GetUserId(User); // Hent brukerens ID
    var userOrders = Model.Orders.Where(o => o.UserId == userId);
}

<div class="banner-secondary">
    <div class="banner-secondary-container">
        <!-- Midlertidig -->
        <img src="https://images.pexels.com/photos/2659629/pexels-photo-2659629.jpeg" id="banner-image" />
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle">
            <div class="text-center">
                <h1 class="text-white ">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 20px;" class="title">
    <a class="btn btn-secondary" id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit profile</a>
</div>

<div>
    <h3>Your cabins:</h3>
    @if (Model.Items.Any(i => i.UserId == userId))
    {
        <partial name="_ItemTable" model="Model.Items.Where(i => i.UserId == userId)" />
    }
    else
    {
        <p>No items to display.</p>
    }
</div>
<div>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Item"
           asp-action="Create">Create New Cabin</a>
    </p>
</div>

<div>
    <h3>Cabins you rent:</h3>
    @if (Model.Items.Any(i => i.UserId == userId))
    {
        <partial name="_ItemTable" model="Model.Items.Where(i => i.UserId == userId)" />
    }
    else
    {
        <p>No items to display.</p>
    }
    <!-- Her kan du legge til en annen filtrering og delvis visning hvis du har en måte å identifisere hytter brukeren leier -->
</div>

<div>
    <h3>Order History</h3>
    @if (Model.Orders.Any())  
    {
        <partial name="_OrderHistory" model="Model.Orders" /> 
    } 
    else
    {
        <p>No order history to display</p>
    }
</div>

