@{
    ViewData["Title"] = "Min side";
}
<h1>@ViewData["Title"]</h1>

<h2>Hei "fornavn"</h2>

<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage profile</a>

<div>
    <h3>Dine hytter:</h3>
    <p>Her var det tomt!</p>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Item"
           asp-action="Create"> Create new post</a>
    </p>
</div>

<div>
    <h3>Hytter du leier:</h3>
</div>