@model ItemListViewModel

@{
    ViewData["Title"] = "Min side";
}
<h1>@ViewData["Title"]</h1>

<div style="margin-bottom: 20px;" class="title">
    <a class="btn btn-secondary id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Edit profile</a>
</div>

<div>
    <h3>Your cabins:</h3>
    @if (Model.Items.Any())
    {
        <partial name="_ItemTable" model="Model.Items" />
    }
    else
    {
        <p>No items to display.</p>
    }
</div>

<div>
    <h3>Cabins you rent:</h3>
</div>
