@{
    ViewData["Title"] = "Min side";
}
<h1>@ViewData["Title"]</h1>

<h2>Hi "name"</h2>

<a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage profile</a>

<div>
    <h3>Your cabins:</h3>
    <p>Empty!</p>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Item"
           asp-action="Create"> Create new post</a>
    </p>
    
</div>



<div>
    <h3>Cabins you rent:</h3>
</div>