@model ItemListViewModel

@{
    ViewData["Title"] = "Rentals";
}
<div class="banner-secondary">
    <div class="banner-secondary-container">
        <!-- Midlertidig -->
        <img src="https://images.pexels.com/photos/1724228/pexels-photo-1724228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" id="banner-image" />
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle">
            <div class="text-center">
                <h1 class="text-white ">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    @if (Model.Items.Any())
    {
        foreach (var item in Model.Items)
        {
            <partial name="_ItemCard" model="item" />
        }
    }
    else
    {
        <p>No items to display.</p>
    }
</div>