@{
    ViewData["Title"] = "Rentals";
}
<div class="banner-secondary">
    <div class="banner-secondary-container">
        <!-- Midlertidig -->
        <img src="https://images.pexels.com/photos/1724228/pexels-photo-1724228.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" id="banner-image" />
    </div>
    <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center position-absolute top-50">
            <div class="text-center">
                <h1 class="text-white ">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <a href="/Item/Grid">Grid View</a> <!-- Skal være partial view. Fikk ikke det til per 3. okt -->
</div>
