<footer class="bg-dark text-light text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h5 class="mb-1">About Us</h5>
                <a class="text-light" asp-area="" asp-controller="Home" asp-action="About">Read more</a>
            </div>
            <div class="col-4">
                <h5 class="mb-1">Contact Us</h5>
                <a class="text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact us</a>
            </div>
            <div class="col-4">
                <h5 class="mb-1">Follow Us</h5>
                <div>
                    <a class="bi bi-facebook text-white mx-2" href="https://www.facebook.com/nelsonmandela/"></a>
                    <a class="bi bi-instagram text-white mx-2" href="https://www.instagram.com/nelson_mandela_oficial/"></a>
                    <a class="bi bi-twitter text-white mx-2" href="https://twitter.com/NelsonMandela"></a>
                </div>
            </div>
        </div>
    </div>
</footer>



