<footer class="bg-dark text-light text-center py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <a href="" class="text-light">Read More</a>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <a href="" class="text-light">Contact us</a>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
            </div>
        </div>
    </div>
</footer>
