@{
    var controller = Context.Request.RouteValues["Controller"];
    var action = Context.Request.RouteValues["Action"];
}

<header> 
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark mb-3 fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="CabinFever" width="40">
            </a>
            <button class="navbar-toggler border-dark" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-light fs-1"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light @(controller?.ToString() == "Home" && action?.ToString() == "Rentals" ? "fw-bold" : "")" asp-area="" asp-controller="Home" asp-action="Rentals">Rentals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light @(controller?.ToString() == "Home" && action?.ToString() == "About" ? "fw-bold" : "")" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
