@model CabinFever.Models.Order

<h2>Order Confirmation</h2>
<p>Thank you for your order. Your order details:</p>

<p><strong>Order ID:</strong> @Model.OrderId</p>
<p><strong>Order Date:</strong> @Model.OrderDate</p>

<p>Your order has been successfully placed. Thank you for choosing our service.</p>

<a href="~/">
    <button class="btn btn-primary">Back to Home</button>
</a>